<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='characters.css') }}">
</head>
<body>
<h2>Unchained Worlds</h2>
<h3>Characters</h3>

<script src="{{url_for('static', filename='jquery-3.6.3.min.js')}}"></script>
<script src="{{url_for('static', filename='characters.js')}}"></script>

<div class="sheet_table">
    <div class="sheet_row">
        <table class="sheet_cell">
          <tr>
            <th>Name:</th>
            <td><input class="header_field" id="NAME_TXT" type="text"></td>
            <th>Class:</th>
            <td><input class="header_field" id="CLASS_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Culture:</th>
            <td><input class="header_field" id="CULTURE_TXT" type="text"></td>
            <th>XP:</th>
            <td><input class="header_field" id="XP_TXT" type="text"></td>
          </tr>
        </table>
    </div>
    <div class="sheet_row">
        <table class="sheet_cell">
          <tr>
            <th>Ability</th>
            <th>Score</th>
            <th>Modifier</th>
          </tr>
          <tr>
            <th>STR</th>
            <td><input class="ab_score" id="STR_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="STR_MOD"></td>
          </tr>
          <tr>
            <th>DEX</th>
            <td><input class="ab_score" id="DEX_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="DEX_MOD"></td>
          </tr>
          <tr>
            <th>CON</th>
            <td><input class="ab_score" id="CON_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CON_MOD"></td>
          </tr>
          <tr>
            <th>INT</th>
            <td><input class="ab_score" id="INT_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="INT_MOD"></td>
          </tr>
          <tr>
            <th>WIS</th>
            <td><input class="ab_score" id="WIS_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="WIS_MOD"></td>
          </tr>
          <tr>
            <th>CHA</th>
            <td><input class="ab_score" id="CHA_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CHA_MOD"></td>
          </tr>
        </table>
        <table class="sheet_cell">
          <tr>
            <th>Max HP:</th>
            <td><input class="stat_field" id="HP_TXT" type="text"></td>
          </tr>
          <tr>
            <th>AC:</th>
            <td><input class="stat_field" id="AC_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Size:</th>
            <td><input class="stat_field" id="SIZE_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Speed:</th>
            <td><input class="stat_field" id="SPEED_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Max Stamina Dice</th>
            <td><input class="stat_field" id="STAMINA_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Image URL</th>
            <td><input class="stat_field" id="IMG_TXT" type="text"></td>
          </tr>
        </table>
        <table class="sheet_cell">
          <tr>
            <th>Proficiencies</th>
          </tr>
          <tr>
            <th>Proficiency Bonus:</th>
            <td><input id="PROF_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Weapons:</th>
            <td><input id="WEAPONS_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Armors:</th>
            <td><input id="ARMORS_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Tools</th>
            <td><input id="TOOLS_TXT" type="text"></td>
          </tr>
        </table>
    </div>
    <div class="sheet_row">
        <table id="FEATS_TABLE" class="sheet_cell"></table>
        <table id="INVENTORY_TABLE" class="sheet_cell"></table>
        <table id="SKILLS_TABLE" class="sheet_cell"></table>
        <table id="SAVES_TABLE" class="sheet_cell"></table>
        <table id="LANGUAGES_TABLE" class="sheet_cell"></table>
    </div>
    <div class="sheet_row">
        <table id="ATTACKS_TABLE" class="sheet_cell"></table>
    </div>
</div>
<input type="text" id="text_json"> <button type="button" id="button_generate">Generate JSON</button> <button type="button" id="button_copy">Copy to clipboard</button>
<button type="button" id="button_load">Load From JSON</button>

</body> 
</html>