<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='characters.css') }}">
</head>
<body>
<h2>Unchained Worlds</h2>
<h3>Characters</h3>

<script src="{{url_for('static', filename='jquery-3.6.3.min.js')}}"></script>
<script src="{{url_for('static', filename='characters.js')}}"></script>

<div class="sheet_table">
    <div class="sheet_row">
        <table class="sheet_cell">
          <tr>
            <th>Name:</th>
            <td><input class="header_field" id="NAME_TXT" type="text"></td>
            <th>Class:</th>
            <td><input class="header_field" id="CLASS_TXT" type="text"></td>
          </tr>
          <tr>
            <th>Culture:</th>
            <td><input class="header_field" id="CULTURE_TXT" type="text"></td>
            <th>Body:</th>
            <td><input class="header_field" id="BODY_TXT" type="text"></td>
            <th>XP:</th>
            <td><input class="header_field" id="XP_TXT" type="text"></td>
          </tr>
        </table>
    </div>
    <div class="sheet_row">
        <table class="sheet_cell">
          <tr>
            <th>Ability</th>
            <th>Score</th>
            <th>Modifier</th>
          </tr>
          <tr>
            <th>STR</th>
            <td><input class="ab_score" id="STR_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="STR_MOD"></td>
          </tr>
          <tr>
            <th>DEX</th>
            <td><input class="ab_score" id="DEX_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="DEX_MOD"></td>
          </tr>
          <tr>
            <th>CON</th>
            <td><input class="ab_score" id="CON_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CON_MOD"></td>
          </tr>
          <tr>
            <th>INT</th>
            <td><input class="ab_score" id="INT_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="INT_MOD"></td>
          </tr>
          <tr>
            <th>WIS</th>
            <td><input class="ab_score" id="WIS_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="WIS_MOD"></td>
          </tr>
          <tr>
            <th>CHA</th>
            <td><input class="ab_score" id="CHA_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CHA_MOD"></td>
          </tr>
        </table>
        <table class="sheet_cell">
          <tr>
            <th>Ability</th>
            <th>Score</th>
            <th>Modifier</th>
          </tr>
          <tr>
            <th>STR</th>
            <td id="STR_SCORE"><input class="ab_score" id="STR_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="STR_MOD"></td>
          </tr>
          <tr>
            <th>DEX</th>
            <td id="DEX_SCORE"><input class="ab_score" id="DEX_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="DEX_MOD"></td>
          </tr>
          <tr>
            <th>CON</th>
            <td id="CON_SCORE"><input class="ab_score" id="CON_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CON_MOD"></td>
          </tr>
          <tr>
            <th>INT</th>
            <td id="INT_SCORE"><input class="ab_score" id="INT_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="INT_MOD"></td>
          </tr>
          <tr>
            <th>WIS</th>
            <td id="WIS_SCORE"><input class="ab_score" id="WIS_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="WIS_MOD"></td>
          </tr>
          <tr>
            <th>CHA</th>
            <td id="CHA_SCORE"><input class="ab_score" id="CHA_SCORE_TXT" type="number" min="1" max="20" maxlength="2"></td>
            <td id="CHA_MOD"></td>
          </tr>
        </table>
    </div>
</div>
<input type="text" id="text_json"> <button type="button" id="button_generate">Generate JSON</button> <button type="button" id="button_copy">Copy to clipboard</button>

</body> 
</html>