table, tr, th, td, body {
    border: 1px solid;
    background: #5490f0;
}

.ab_score {
    width: 5ch;
}

.row1 {
    width: 100%;
    display: table;
}

.sheet_table {
    width: 100%;
    display: table;
}

.sheet_row {
    display: table-row;
}

.sheet_cell {
    display: table-cell;
    float: left;
}

.header_field {
    width: 140px;
}

.stat_field {
    width: 10ch;
}